@import './normalize.css';

@font-face {
    font-family: Unitblock;
    src: url(../fonts/Unitblock.woff2);
}
@font-face {
    font-family: Alterbeing;
    src: url(../fonts/alterbeing.woff2);
}

:root {
    --background-color: #0b0e0d;
    --text-color: #acb7b4;
    --link-color: #768b55;
    --accent: #5f5a4c;
    --primary-color: #96887a;
    --gray: #556364;

    --transition-normal: 333ms;
    --transition-quick: 200ms;
    --gap: 0.3rem;
    --border-radius: 0.2rem;
    --dim: 63%;

    --gapped-border: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='4' ry='4' stroke='%2363726eFF' stroke-width='3' stroke-dasharray='12%2c66%2c6' stroke-dashoffset='0' stroke-linecap='butt'/%3e%3c/svg%3e");
}

@keyframes cursor-blink {
    99.99%,
    50.01% {
        opacity: 0;
    }
    0%,
    50% {
        opacity: 1;
    }
}
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

html,
body {
    font-family: OpenDyslexic, Unitblock, Alterbeing;

    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
    color: var(--text-color);

    max-height: 100vh;
    margin-inline: var(--gap);

    background-image: url('../images/tile.png');
    background-repeat: repeat;
    background-attachment: fixed;
}
::selection {
    background: #3d3630;
}

body {
    display: flex;
    min-height: 100vh;
    max-height: inherit;
    text-align: left;
    cursor: default;
    overflow-wrap: break-word;
    line-height: 1.3rem;
}

hr {
    color: var(--accent);
    border-radius: var(--border-radius);
    width: 100%; /* i wish hrs flexed :\ */
    border: 1px solid;
}
footer {
    width: 100%;
    margin-bottom: var(--gap);
}

h1 {
    line-height: 1.6rem;
}

footer,
h2 {
    color: var(--gray);
    font-size: 0.8rem;
}

h2,
h3 {
    margin: var(--gap) 0px;
}

p {
    word-wrap: break-word;
}

a {
    text-decoration: unset;
    color: var(--link-color);
    filter: brightness(100%);
}

a:hover,
a:focus {
    filter: brightness(var(--dim));
}

blockquote {
	font-style: italic;
	border-width: 0rem 0.3rem;
	border-color: var(--gray);
	border-style: solid;
	border-radius: var(--border-radius);
	padding: calc(var(--gap) * 2);
}
cite {
    color: var(--gray);
	list-style: inside disclosure-closed;
	display: list-item;
}

/* Style the scrollbar if supported */
@supports (scrollbar-color: auto) {
    body {
        scrollbar-color: var(--accent) #0000;
    }
}

.hidden {
    display: none !important;
}

.hov,
a {
    transition: filter var(--transition-quick);
}

.hov:hover,
.hov:focus,
.hov:focus-visible {
    filter: brightness(var(--dim));
}
.hov:focus-visible {
    outline: none;
}

.hov:active {
    filter: brightness(100%);
}

.emote {
    padding-inline: 0.1rem;
    max-height: 1rem;
    border-radius: var(--border-radius);
}
.icon {
    height: 1rem !important;
    vertical-align: text-bottom;
    margin-inline-end: calc(var(--gap) / 2);
}
.icon:last-child {
    margin-inline-end: 0px;
}

#header {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: var(--gap); /* setting margin on the footer is better */
}
#header > div {
    display: flex;
    flex-direction: row;
    align-items: end;
}
#header h1 {
    margin: 0px;
    flex: 1;
}
#header h2 {
    margin: 0px;
    font-weight: normal;
    font-size: 0.6rem;
    line-height: 0.9rem;
    max-width: 30%;
    text-align: end;
    color: var(--gray);
}
#header hr {
    border: 3px solid;
}
#gtainer {
    display: flex;
    flex-direction: row;
    gap: var(--gap);
    flex: 1;
    width: 100%;
    min-height: 44vh;
}

#pane,
#menu {
    flex: 1;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    min-height: inherit;
    max-height: inherit;
}
#pane {
    max-width: 50%;
    padding: 0rem var(--gap) var(--gap) calc(var(--gap) * 2);
    border-radius: var(--border-radius);
    background-image: var(--gapped-border);
    overflow-y: scroll;
}
#pane > div {
    display: inherit;
    flex-direction: column;
    gap: inherit;
}
#pane p {
    margin: 0.1rem;
}
#pane .hov[onclick] {
    color: var(--primary-color);
}
#pane .hov > span:nth-child(even) {
    color: var(--text-color);
}
#pane .hov > span:nth-child(odd) {
    color: var(--primary-color);
}
/* remove list styling */
#menu {
    list-style: none;
    padding-inline-start: 0px;
}

.menu-link {
    font-size: 1.2rem;
    font-weight: bold;
}
.menu-link > .cursor-blink,
.menu-link > .cursor-blink {
    display: none;
}
.menu-link:hover > .cursor-blink,
.menu-link:focus > .cursor-blink {
    display: inline;
}
/* menu icon */
.menu-link:hover::before,
.menu-link:focus::before {
    margin-left: -1rem;
}

/* caret blink */
.cursor-blink {
    animation: cursor-blink 1.2s linear infinite;
}

/* mobile help */
/* dropdown */
#dropdown-container,
#dropdown {
    display: flex;
    flex-direction: column;
    flex: 1;
}
#dropdown-container {
    border-radius: var(--border-radius);
    padding: 0.1rem calc(var(--gap) * 2);
}
#dropdown > input,
#dropdown > label {
    display: none;
}

#pawprint span:nth-child(even) {
    color: var(--text-color);
}
#pawprint span:nth-child(odd) {
    color: var(--primary-color);
}

footer > .section:not(:last-child)::after {
    content: '\e000\00a0';
    color: var(--accent);
}

@media screen and (max-width: 50rem), (pointer: coarse) {
    .copyable::after {
        content: ' (tap to copy)';
    }
}
/* i hate mobile css */
@media (max-width: 40rem) {
    hr {
        width: 95vw;
    }
    #gtainer,
    #pane,
    #menu {
        flex: 0;
    }
    #gtainer {
        flex-direction: column;
        gap: calc(var(--gap) * 2);
        width: 95vw;
        min-height: auto;
    }
    #dropdown-container {
        background-image: var(--gapped-border);
    }
    #dropdown,
    #dropdown > label {
        display: flex;
        flex: 1;
    }
    #menu {
        display: none;
        z-index: 2;
    }
    #pane {
        max-width: unset;
        overflow: auto;
    }

    #dropdown-container input:checked + label + #menu {
        display: flex !important;
    }
    #dropdown-container input:checked + label::before {
        content: '›'; /* placeholder */
        padding-inline-end: 0.2rem;
    }
}
