{{{header
    'Unified-pride-flags Flag Preview'
    "{{{wrappedlink 'home' '/'}}}{{{wrappedlink 'github' 'https://github.com/0xf0xx0/unified-pride-flags'}}}<br/>Massive thanks to <a href='https://github.com/KonkenBonken'>@KonkenBonken</a>"
}}}
<div id='flag-container'></div>
<script src='src/scripts/flags.js'></script>
